<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests1.Test2@5c530d1e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:52</td>   <td>5936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests1.Test2@5c530d1e]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="fb778e">  <td>21/07/31 19:14:52</td>   <td>6141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.test2()[pri:0, instance:com.test.Tests1.Test2@5c530d1e]">test2</td> 
  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:53</td>   <td>6867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests1.Test2@5c530d1e]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:53</td>   <td>6875</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests1.Test2@5c530d1e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:54</td>   <td>8301</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests1.Test3@2b5cb9b2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:59</td>   <td>13320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests1.Test3@2b5cb9b2]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="7180c8">  <td>21/07/31 19:14:59</td>   <td>13327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test3.test3()[pri:0, instance:com.test.Tests1.Test3@2b5cb9b2]">test3</td> 
  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:59</td>   <td>13371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests1.Test3@2b5cb9b2]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:14:59</td>   <td>13384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests1.Test3@2b5cb9b2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:15:00</td>   <td>14337</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests1.Test4@4fbdc0f0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:15:05</td>   <td>19476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests1.Test4@4fbdc0f0]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="b17bbf">  <td>21/07/31 19:15:05</td>   <td>19485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test4.test4()[pri:0, instance:com.test.Tests1.Test4@4fbdc0f0]">test4</td> 
  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:15:05</td>   <td>19525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests1.Test4@4fbdc0f0]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
<tr bgcolor="ab8da8">  <td>21/07/31 19:15:05</td>   <td>19533</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests1.Test4@4fbdc0f0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235635586</td>   <td></td> </tr>
</table>
