<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyWebTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@47428937]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:41</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@1b28f282]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:42</td>   <td>389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@21ec5d87]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:58</td>   <td>17033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@4816c290]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:59</td>   <td>18099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@307765b4]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:00</td>   <td>18825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@7db534f2]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:17</td>   <td>35623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@61d9efe0]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:17</td>   <td>35897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.DummyDryRunTest@a50b09c]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:33:41</td>   <td>178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@1b28f282]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="629f63">  <td>21/08/18 12:33:41</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest1.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@47428937]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="629f63">  <td>21/08/18 12:33:42</td>   <td>394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest1.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@21ec5d87]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:33:58</td>   <td>17055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@4816c290]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:33:59</td>   <td>18109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@307765b4]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:34:00</td>   <td>18834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@7db534f2]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:34:17</td>   <td>35629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@61d9efe0]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="8184ac">  <td>21/08/18 12:34:17</td>   <td>35905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DummyDryRunTest.TC01_LogIntoTheApplication(java.lang.String)[pri:0, instance:com.test.Tests.DummyDryRunTest@a50b09c]">TC01_LogIntoTheApplication</td> 
  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:52</td>   <td>10609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@21ec5d87]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:52</td>   <td>11233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests1.DummyDryRunTest1@47428937]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:53</td>   <td>11578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@1b28f282]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:09</td>   <td>28349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@4816c290]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:10</td>   <td>29033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@307765b4]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:11</td>   <td>29712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@7db534f2]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:25</td>   <td>44273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@61d9efe0]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:26</td>   <td>45172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.DummyDryRunTest@a50b09c]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:35</td>   <td>-5738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests1.DummyDryRunTest1@47428937]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:35</td>   <td>-5738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@1b28f282]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:35</td>   <td>-5738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests1.DummyDryRunTest1@21ec5d87]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:53</td>   <td>12194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@4816c290]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:53</td>   <td>12194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@307765b4]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:54</td>   <td>12492</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@7db534f2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:11</td>   <td>29802</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@61d9efe0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:12</td>   <td>30657</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.DummyDryRunTest@a50b09c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:52</td>   <td>10612</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests1.DummyDryRunTest1@21ec5d87]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:52</td>   <td>11239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests1.DummyDryRunTest1@47428937]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:33:53</td>   <td>11584</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@1b28f282]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:09</td>   <td>28357</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@4816c290]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:10</td>   <td>29043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@307765b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:11</td>   <td>29718</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@7db534f2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27927875</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:25</td>   <td>44276</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@61d9efe0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@817416663</td>   <td></td> </tr>
<tr bgcolor="9becad">  <td>21/08/18 12:34:26</td>   <td>45175</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.DummyDryRunTest@a50b09c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1668393700</td>   <td></td> </tr>
</table>
