<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5c794">  <td>21/09/12 01:30:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.setup()[pri:0, instance:com.test.Tests.AnotherExcelComparatorTest@ab7395e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@436094532</td>   <td></td> </tr>
<tr bgcolor="f5c794">  <td>21/09/12 01:30:37</td>   <td>8305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPostTestEvents.Initialization(java.lang.reflect.Method)[pri:0, instance:com.test.Tests.AnotherExcelComparatorTest@ab7395e]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td>  <td>main@436094532</td>   <td></td> </tr>
<tr bgcolor="777cc9">  <td>21/09/12 01:30:37</td>   <td>8553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnotherExcelComparatorTest.main()[pri:0, instance:com.test.Tests.AnotherExcelComparatorTest@ab7395e]">main</td> 
  <td>main@436094532</td>   <td></td> </tr>
<tr bgcolor="f5c794">  <td>21/09/12 01:30:50</td>   <td>20899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.captureScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:com.test.Tests.AnotherExcelComparatorTest@ab7395e]">&lt;&lt;captureScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>main@436094532</td>   <td></td> </tr>
<tr bgcolor="f5c794">  <td>21/09/12 01:30:50</td>   <td>20907</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPostTestEvents.tearDown()[pri:0, instance:com.test.Tests.AnotherExcelComparatorTest@ab7395e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@436094532</td>   <td></td> </tr>
</table>
